@include keyframes(slide-in) {
    from {
        left: -100;
    }
    to {
        left: 0;
    }
}

@include keyframes(slide-out) {
    from {
        left: 0;
    }
    to {
        left: -100;
    }
}