@import 'all';
// apply css box
html,
* {
    @include box-sizing(border-box);
}

:after,
 :before {
    @include box-sizing(border-box);
}

@-ms-viewport {
    width: device-width;
}

a {
    text-decoration: none;
    color: $base-color;
}

body {
    margin: 0;
    overflow-y: scroll;
    min-width: 1025px;
    width: auto !important;
    padding: 0;
    @include transition(all .5s ease);
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $body-primary-color;
    background-color: $body-primary-background-color;
}

body {
    min-width: $base-min-width;
    padding: $base-padding !important;
    font-weight: $base-font-weight;
    padding-top: $base-padding-top;
}

#header {
    z-index: 10;
    position: fixed;
    width: 100%;
    background-color: $base-primary-color;
    font-family: $base-font-family;
    top: 0;
    height: 56px;
    border-bottom: 1px solid $base-border-color;
    @include css3-prefix(backface-visibility, hidden);
    .header-container {
        margin: 0;
        .header-logo {
            float: left;
            width: auto;
        }
        .header-menu {
            float: left;
        }
        .logo {
            float: left;
            font-size: $base-font-size+8;
            padding: 5px;
            position: relative;
            display: block;
            width: 100%;
            span {
                position: absolute;
                top: 14px;
                left: 55px;
                font-weight: $base-font-weight;
            }
        }
    }
}

@include wrapper-creation(wrapper);
.body {
    position: relative;
    padding-top: 97px;
    min-height: 100%;
    .view-content {
        @include transition-left;
    }
    .sidebar-left {
        @include transition-left;
    }
}

aside {
    &.sidebar-left {
        overflow-y: auto;
        overflow: hidden;
        z-index: 4;
        position: fixed;
        top: 97px;
        bottom: 0;
        width: 300px;
        .content-body {
            padding: 0 0 0 15px;
        }
        .content-header {
            margin-bottom: 0;
        }
    }
    z-index: 4;
    background: lighten($color: $base-toolbar, $amount: 8);
    @include background-linear-horizontal($base-primary-color, $base-toolbar);
    @include css3-prefix(backface-visibility, hidden);
}

.view-content {
    margin-left: 300px;
    margin-right: 0;
    background: $base-primary-color;
    height: 100vh;
    @include css3-prefix(box-shadow, 0px 0px 11px 1px $base-border-color);
}

.content {
    padding: 0;
    .content-header {
        padding: 10px 15px;
        margin-bottom: 10px;
        background: transparent;
        border-bottom: 1px solid $base-toolbar;
        height: 45px;
        @include background-linear-horizontal($base-primary-color, darken($color: $base-toolbar, $amount: 7));
        h3 {
            font-size: $h3-font-size;
            font-weight: $base-font-weight;
            margin: 0;
            float: left;
        }
        .action-toolbar {
            float: right;
        }
    }
    .content-body {
        padding: 15px 15px;
        position: relative;
        margin-bottom: 10px;
    }
}

.tools-panel {
    position: fixed;
    top: 56px;
    width: 100%;
    height: 40px;
    z-index: 4;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    .tools-panel-content {
        background-color: $base-toolbar-content;
        height: 100%;
        color: $base-primary-color;
        overflow: hidden;
        p {
            margin: 0 0;
            padding: 8px 15px;
            display: block;
            float: left;
            a {
                color: $base-primary-color;
                &:hover {
                    color: darken($color: $base-primary-color, $amount: 10);
                    border-bottom: 1px solid darken($color: $base-primary-color, $amount: 10);
                }
            }
            &.user-logout {
                float: left;
            }
            &.user-ico {
                padding-right: 0;
            }            
        }
    }
}

.top.header-primary {
    .navbar {
        background-color: $base-primary-color;
        margin-bottom: 0;
    }
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    li {
        position: relative;
        display: block;
        a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }
        &.active,
        &:hover {
            border-bottom: 5px solid $base-border-color;
            a {
                text-decoration: none;
                background-color: lighten($color: $base-border-color, $amount: 7);
            }
        }
    }
}

#grid-view {
    margin-top: 10px;
    span.dx-field-item-label-text {
        font-size: 14px;
    }
}

.login-panel {
    margin: 0 auto;
    width: 500px;
    form {
        fieldset {
            border: 1px solid $base-toolbar;
            padding: 0;
            background: $base-primary-color;
            h3 {
                margin: 0;
                padding: 15px 15px;
                background: darken($color: $base-toolbar-content, $amount: 10);
                color: $base-primary-color;
            }
            .form-group {
                padding: 15px 15px 0;
                margin-bottom: 5px;
                input {
                    width: 100%;
                    height: 40px;
                    padding: 0 15px;
                    font-size: $base-font-size;
                }
                .btn {
                    height: 40px;
                    width: 100px;
                    font-size: $base-font-size;
                    border: 1px solid darken($color: $base-toolbar-content, $amount: 10);
                    cursor: pointer;
                }
                .btn-primary {
                    background: darken($color: $base-toolbar-content, $amount: 5);
                    color: $base-primary-color;
                    &:hover {
                        background: darken($color: $base-toolbar-content, $amount: 10);
                    }
                }
                &.m-b-15 {
                    margin-bottom: 15px;
                }
            }
            .has-error {
                .help-block {
                    color: red;
                }
            }
        }
    }
}