/* Width Wrappers */
$wrappers: expand-width-wrapper !global;

@mixin wrapper-creation($name) {
  .#{$name} {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    min-height: 100%;
    clear: both;    
  }

  $wrappers: append($wrappers, $name) !global;
}

.expand-width-wrapper /*Full Width with ~16px padding*/ {
  margin: 0 1rem; //override 0 auto
  clear: both;
}

/// Background-linear-horizontal
/// @param {Color} $startColor [#3C3C3C] - Start Color
/// @param {Color} $endColor [#999999] - End Color

@mixin background-linear-horizontal($startColor: #3C3C3C, $endColor: #999999) {
  background-color: $startColor;
  background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
  background-image: -webkit-linear-gradient(left, $startColor, $endColor);
  background-image:    -moz-linear-gradient(left, $startColor, $endColor);
  background-image:     -ms-linear-gradient(left, $startColor, $endColor);
  background-image:      -o-linear-gradient(left, $startColor, $endColor);
  background-image:         linear-gradient(to right, $startColor, $endColor);
  filter:            progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$startColor}', endColorStr='#{$endColor}', gradientType='1');
}

@mixin transition-left {
  @include transition(all .5s linear);
  @include transform(translate(0));
}