@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
        li {
            float: left;
            a {
                padding-top: 15px;
                padding-bottom: 15px;
                line-height: 20px;
            }
        }
    }
}

@media (min-width: 992) {
    .dx-layout-manager .dx-datebox {
        width: 95%!important;
    }
}

@media (max-width: 768px) {
    #menu-main-menu {
        display: none;
        li {
            a {
                color: $base-primary-color;
            }
            &.active,
            &:hover {
                border-bottom: 5px solid $base-primary-color;
                a {
                    color: $base-color;
                    background-color: rgba($color: $base-primary-color, $alpha: .7);
                }
            }
        }
        @include animation(slide-in .6s forwards);
    }
    .menu-fixed {
        display: block!important;
        position: fixed;
        z-index: 999;
        top: 0;
        left: -100px;
        width: 80vw;
        margin-top: 0;
        background: rgba($color: $base-color, $alpha: .78);
        height: 100%;        
    }

    #menubar {
        display: block;
    }

    .login-panel {
        width: 100%;
    }

    .tools-panel {
        .tools-panel-content {
            p {
                &.user-current {
                    max-width: 150px;
                    word-wrap: unset;
                    height: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }    
}