// Ultility
#menubar {
    display: none;
}

#menubar {
    position: fixed;
    right: 0;
    padding: 11px 15px;
}

.fa-chart {
    position: relative;
    width: 19px;
    height: 19px;
    top: 3px;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &.fa-chart-sozialhilfe {
        background: url('#{$path-icon}/icon-s.png') center center;
        background-size: cover;
    }
    &.fa-chart-abzahlungskonti {
        background: url('#{$path-icon}/icon-abzahlungskonti.png') center center;
        background-size: cover;
    }
    &.fa-chart-ausgabekonti {
        background: url('#{$path-icon}/icon-ausgabekonti.png') center center;
        background-size: cover;
    }
    &.fa-chart-kurzungen {
        background: url('#{$path-icon}/icon-kurzungen.png') center center;
        background-size: cover;
    }
    &.fa-chart-vorabzugskonti {
        background: url('#{$path-icon}/icon-vorabzugskonti.png') center center;
        background-size: cover;
    }
}

li.dx-treeview-node.dx-treeview-node-is-leaf:before {
    content: '';
    position: absolute;
    border: 1px dotted;
    top: 18px;
    left: 0;
    width: 19px;
}

li.dx-treeview-node.dx-treeview-node-is-leaf {
    border-left: 1px dotted;
}

.margin-left-0 {
    margin-left: 0!important;
}

.margin-left-300-l {
    margin-left: -300px!important;
}

.dx-scrollable-native.dx-scrollable-native-generic {
    margin-bottom: 15px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.dx-numberbox {
    .dx-texteditor-container {
        input {
            text-align: right!important;
        }
    }
}

.input-number {
    position: relative;
    &:after {
        content: "CHF";
        margin-left: 5px;
        text-transform: uppercase;
    }
}

.input-AnteilVomGb {
    position: relative;
    &:after {
        content: "%";
        margin-left: 5px;
    }
}

.input-Laufzeit {
    position: relative;
    &:after {
        content: "Monat (e)";
        margin-left: 5px;
    }
}

#menubar {
    i {
        width: 27px;
        height: 32px;
        text-align: right;
    }
}

.dx-toolbar-menu-section .dx-button-content {
    text-align: left;
}

.dx-layout-manager .dx-label-h-align.dx-flex-layout:not(.dx-field-item-label-align) {
    align-items: center;
}

.dx-texteditor.dx-state-readonly {
    textarea {
        background: darken($color: #f4f4f4, $amount: 2);
    }

    input {
        background: darken($color: #f4f4f4, $amount: 2);
    }
}

.m-l-10 {
    margin-left: 10px;
}

p {
    margin-top: 0;
}