// Setting <variables>
$base-font-size: 16px;
$base-line-height: 24px;
$base-unit: 'em';
$base-font-family: "Segoe UI","Helvetica Neue",Helvetica,Verdana,"san-serif" !global;
$base-font-weight: 400;
$base-padding: 0;
$base-min-width: 320px;
$base-max-width: 1170px;
$base-padding-top: 70px;
$base-position-top: 59px;
// The font sizes for h1-h6.
$h1-font-size: 2 * $base-font-size;
$h2-font-size: 1.5 * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1 * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;
// The amount lists and blockquotes are indented.
$indent-amount: 40px;
$normalize-vertical-rhythm: false;

// The path
$path: "/assets";
$path-image: "#{$path}/images";
$path-icon: "#{$path}/icon";
// The color
$base-color: #333;
$base-primary-color: #fff;
$body-primary-color: #3f4449;
$body-primary-background-color: #fafafa;
$base-border-color: #e0e0e0;
$base-toolbar: #e9e9e9;
$base-toolbar-content: #007aa3;
