﻿@{
    ViewData["Title"] = "QA TOOL Report";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Test</li>
    </ol>
</nav>