body {
    background-color: #f9f9f9;
}

.login-box {
    background-color: #fff;
    border: 1px solid #f1f1f1;
    margin: 100px auto;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    .logo {
        text-align: center;
        background: #0f556e;
        text-transform: uppercase;
        a {
            padding: 15px;
            color: #fff;
            display: block;
            font-size: 2.25em;
            cursor: none;
            span {
                display: block;
            }
            img {
                width: 100%;
                height: 100%;
                max-width: 50px;
                margin: 10px;
            }
        }
    }
    form {
        position: relative;
        margin-bottom: 20px;
        .dx-button {
            position: absolute;
            right: 0;
            bottom: -25px;
        }
    }
    .box-footer {
        text-align: center;
        padding: 5px;
        border-top: 1px solid #f5f5f5;
    }
}

@media(min-width: 763px) {
    .login-box {
        margin-top: 10;
        width: 500px;
    }
}